<!DOCTYPE html>
<html>


  <body>
    <h1>Live streaming</h1>
    <div>
        <img src="{{ url_for('video') }}" width="50%"/>
    </div>

    <script>
      async function updateDirections() {
          const response = await fetch('/directions'); // Make an AJAX request to the Flask route that provides direction information
          const directionInfo = await response.json();
          console.log(directionInfo)
      }

      // Update directions every 1 second
      setInterval(updateDirections, 1000);
  </script>
            
    </body>


</html>